@charset "UTF-8";
/* Variáveis de cores */
/* Reset básico */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

input {
  outline: none;
  border: none;
}

/* Cabeçalho */
header {
  background-color: #333;
  color: #fff;
}
header .logo {
  font-size: 1.5rem;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  margin: 0 1rem;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
}
header input[type=text] {
  padding: 0.5rem;
}

/* Banner */
.banner {
  width: 100%;
}
.banner .banner-content img {
  width: 100%;
  max-height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Seções de texto */
.sobre,
.servicos,
.contato {
  padding: 2rem;
  text-align: center;
}

.contato form input,
.contato form textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
.contato form button {
  padding: 0.8rem 1.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Estoque */
.estoque {
  padding: 2rem;
  background-color: #f9f9f9;
  text-align: center;
  /* Lista de veículos */
}
.estoque h2 {
  margin-bottom: 1rem;
}
.estoque .filtros select {
  margin: 0.5rem;
  padding: 0.5rem;
}
.estoque .veiculos-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  /* Estilo dos cards de veículo */
}
.estoque .veiculos-lista .veiculo-card {
  width: 100%;
  max-width: 40rem;
  height: 100%;
  max-height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  /* Carrossel de imagens dentro do card */
}
.estoque .veiculos-lista .veiculo-card h3 {
  font-size: 1.8rem;
  font-weight: 700;
}
.estoque .veiculos-lista .veiculo-card p {
  font-size: 1.2rem;
  font-weight: 600;
}
.estoque .veiculos-lista .veiculo-card .btnVerMais {
  width: 10rem;
  padding: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.2rem;
}
.estoque .veiculos-lista .veiculo-card .btnVerMais:hover {
  background-color: #0062cc;
}
.estoque .veiculos-lista .veiculo-card .carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  /* Botões de navegação */
}
.estoque .veiculos-lista .veiculo-card .carrossel .carrossel-container {
  display: flex;
  transition: transform 0.5s ease;
}
.estoque .veiculos-lista .veiculo-card .carrossel .carrossel-item {
  min-width: 100%;
}
.estoque .veiculos-lista .veiculo-card .carrossel .carrossel-item img {
  width: 100%;
  display: block;
  -o-object-fit: fill;
     object-fit: fill;
}
.estoque .veiculos-lista .veiculo-card .carrossel .carrossel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 0.3rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.estoque .veiculos-lista .veiculo-card .carrossel .carrossel-btn.prev {
  left: 0.5rem;
}
.estoque .veiculos-lista .veiculo-card .carrossel .carrossel-btn.next {
  right: 0.5rem;
}

/* Rodapé */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
footer .redes-sociais a {
  color: #fff;
  margin: 0 0.5rem;
  text-decoration: none;
}

/* Variáveis */
/* Estilos para a página "Ver Mais" */
.detalhes-veiculo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  max-width: 900px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.detalhes-veiculo .carrossel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex: 1;
}
.detalhes-veiculo .carrossel .carrossel-container {
  display: flex;
  transition: transform 0.5s ease;
}
.detalhes-veiculo .carrossel .carrossel-item {
  min-width: 100%;
}
.detalhes-veiculo .carrossel .carrossel-item img {
  width: 100%;
  display: block;
  border-radius: 8px;
}
.detalhes-veiculo .carrossel .carrossel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 2rem;
}
.detalhes-veiculo .carrossel .carrossel-btn.prev {
  left: 10px;
}
.detalhes-veiculo .carrossel .carrossel-btn.next {
  right: 10px;
}
.detalhes-veiculo .informacoes-veiculo {
  flex: 1;
}
.detalhes-veiculo .informacoes-veiculo h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.detalhes-veiculo .informacoes-veiculo p {
  margin-bottom: 1rem;
}
.detalhes-veiculo .informacoes-veiculo ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}
.detalhes-veiculo .informacoes-veiculo ul li {
  margin-bottom: 0.5rem;
}
.detalhes-veiculo .informacoes-veiculo .contato-btn {
  width: 15rem;
  padding: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.2rem;
}
.detalhes-veiculo .informacoes-veiculo .contato-btn:hover {
  background-color: #0062cc;
}/*# sourceMappingURL=main.css.map */