.agendamento {
  height: 100vh;
    background-color: $color-primary;
    margin: 0 auto;
    display: grid;
    
    align-content: center;
    justify-content: center;
    z-index: 2;
    gap: 50px;
    position: relative;
    padding: 10px;

    .cadeira {
        position: absolute;
        z-index: -1; 
        bottom: 0;
        right: 0;
        max-width: 250px;
        display: block;
    }

    .title {
        text-align: center;
        z-index: 2;
        

        h1 {
            font-size: 4rem;
            margin-bottom: 2rem;
            color: white;
            font-weight: 100;
        }
    }

    .container-login {
        width: 100%;
        max-width: 1000px;

        form {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, auto));
            margin: 0 auto;
            gap: 10px;

            .input-box {
                width: 100%;
                position: relative;

                label {
                    position: absolute;
                    font-size: 1.6rem;
                    color: white;
                    top: -5%;
                }

                input {
                    width: 100%;
                    height: 40px;
                    margin: 20px 0;
                    padding-left: 10px;
                    outline: none;
                    border: none;
                    font-size: 1.4rem;

                    &::placeholder {
                        font-size: 1.4rem;
                    }
                }

                select {
                    width: 100%;
                    height: 40px;
                    margin: 20px 20px 10px 0;
                    text-align: center;
                    outline: none;
                    border: none;
                    font-size: 1.4rem;
                    color: #7e7e85;
                }
            }
        }

        .mensagem {
            width: 100%;
            margin: 5px 20px 10px 0;
            z-index: 2;

            label {
                color: white;
                font-size: 1.6rem;
            }

            textarea {
                width: 100%;
                margin-top: 10px;
                resize: none;
                border: none;
                outline: none;
                padding: 5px;
                z-index: 2;
            }
        }
    }
    button {
        margin-top: 10px;
        border: none;
        outline: none;
        padding: 10px 30px;
        cursor: pointer;
        color: white;
        background-color: $color-button;
        font-size: 1.6rem;

        &:active {
            transform: scale(1.03);
        }
    }
}
