@media (max-width: 1555px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 1000px) {
    .about {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .box2 {
            .container {
                display: grid;
                grid-template-columns: minmax(300px, 1fr);
                margin: 0 auto;
                text-align: center;

                h1 {
                    margin: 0;
                    &::after {
                        margin: 10px auto;
                    }
                }
                p {
                    width: 60%;
                    margin: 25px auto;
                }
            }
            .img {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 45%;
    }
}
