.services {
    height: auto;
    margin: 0 auto;
    padding: 0 0 60px;
    background-color: $color-secondary;

    .title {
        display: grid;
        margin: 0 auto;
        padding: 50px;
        align-items: center;
        justify-items: center;

        h1 {
            font-size: 4rem;
            color: $color-primary;
            margin: 10px;
            font-weight: 100;
        }
    }

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        gap: 50px;

        .boxes {
            text-align: center;
            padding: 20px 0;
            margin: 0 auto;
            border: 2px solid $color-primary;

            .logo {
                margin: 1.5rem;
            }

            span {
                display: block;
                font-size: 1.6rem;
                color: $color-primary;
                font-weight: 600;
            }

            .icon {
                margin: 1.5rem;
            }

            p {
                display: block;
                font-size: 1.6rem;
                width: 50%;
                line-height: 2.5rem;
                margin: 0 auto;
            }
        }
    }
}
