.services {
    margin: 0 auto;
    padding: 100px;
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
    

    .title {
        display: grid;
        margin: 0px auto;
        align-items: center;
        justify-items: center;
        

        h1 {
          
            font-size: 4rem;
            color: $color-primary;
            margin: 10px;
            font-weight: 100;
            text-align: center;
        }
    }

    .container {
      width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
        margin: 0px auto;
        align-items: center;
        justify-content: center;
        gap: 50px;

        .boxes {
            text-align: center;
            padding: 20px 0;
            margin: 0 auto;
            border: 2px solid $color-primary;

            .logo {
                margin: 1.5rem;
            }

            span {
                display: block;
                font-size: 1.6rem;
                color: $color-primary;
                font-weight: 600;
            }

            .icon {
                margin: 1.5rem;
            }

            p {
                display: block;
                font-size: 1.6rem;
                width: 50%;
                line-height: 2.5rem;
                margin: 0 auto;
            }
        }
    }
}
@media (max-width: 1200px) {
    .services {
        
        .title {
            padding: 50px 0;
        }
        
    }
}
