.services {
  grid-area: services;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #000;
  padding: 0 2rem;

  .title {
    padding: 2rem 0;
    h2 {
      color: white;
      font-size: 2rem;
    }
  }

  .swiper {
    width: 100%;

    .swiper-slide {
      text-align: center;
      font-size: 1.8rem;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2rem;
      cursor: pointer;

      img {
        width: 100%;
        display: block;
        max-width: 100%;
      }

      &.__1 {
        filter: grayscale(100%);
        opacity: 80%;
        transition: all 800ms ease-in-out;
        position: relative;

        &:hover {
          filter: grayscale(0%);
          opacity: 100%;
          transition: all 500ms ease-in-out;
        }

        &:hover a {
          opacity: 1;
        }

        a {
          position: absolute;
          bottom: 1.5rem;
          font-size: 1.4rem;
          left: 1.5rem;
          text-decoration: none;
          border-radius: 2rem;
          padding: 0.7rem 2rem;
          background-color: white;
          transition: 500ms;
          opacity: 0;

          &:hover {
            background-color: $background;
            color: white;
            transition: 500ms;
          }
        }
      }
    }
  }
}
