.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;

    .info {
      width: 100%;
        .info-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
            align-items: center;
            justify-content: center;
            gap: 7.2rem;
            @media (max-width: 768px) {
              gap: 3rem;
            }

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    color: #bdc2cb;
                    text-align: center;
                }
            }
        }
    }
}
