@import 'partials/variable';
@import 'partials/reset';
@import 'partials/patterns';
@import 'partials/header';
@import 'partials/home';
@import 'partials/about';
@import 'partials/about2';
@import 'partials/skills';
@import 'partials/section-4';
@import 'partials/section-5';
@import 'partials/section-6';
@import 'partials/section-7';
@import 'partials/footer';
