/* Variáveis de cores */
$cor-principal: #333;
$cor-secundaria: #007bff;
$cor-acento: #e63946;
$cor-branco: #fff;
$cor-cinza: #f9f9f9;
$cor-fundo-card: #fff;
$cor-sombra-card: rgba(0, 0, 0, 0.1);
$cor-botao-carrossel: rgba(0, 0, 0, 0.5);
$cor-botao-texto: #fff;
$cor-fundo-filtro: #f5f5f5;
$cor-borda-filtro: #ccc;
$cor-texto-filtro: #333;
$cor-primaria: #007bff;
$cor-primaria-hover: darken($cor-primaria, 10%);