.login {
  height: 100vh;
  background-color: $colorPrimary;
  @include flex;

  @media (max-width: 600px) {
    padding: 2rem;
  }

  .container {
    max-width: 48rem;
    @include flex;
    flex-direction: column;
    padding: 3.6rem 2.4rem;
    background-color: $colorBackground;
    border-radius: 2.4rem;
    gap: 4rem;

    .logo {
      max-width: 8.8rem;
    }

    .loginContainer {
      width: 100%;
      @include flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.6rem;

      @media (max-width: 502px) {
        align-items: center;

        p {
          text-align: center;
        }
      }

      .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 4rem;

        .inputBox {
          &._email {
            margin-top: -2.4rem;
          }
        }
      }
    }

    .registerLogon {
      font-weight: 600;
      text-decoration: underline;
      text-align: center;
    }
  }
}
