.structured {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(300px, 460px) 1fr minmax(50px, 200px);

    grid-template-areas:
        'sidebar-left content sidenav-right'
        'sidebar-left about sidenav-right'
        'sidebar-left services sidenav-right'
        'sidebar-left skill sidenav-right';
}

.script {
    position: relative;
    z-index: 1000;

    noscript {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        position: fixed;
        backdrop-filter: blur(15px);

        p {
            color: $color-primary;
            font-size: 3rem;
            transition: all 300ms ease-out;
            position: relative;

            &:hover {
                color: white;
                transition: all 300ms ease-in;
                transform: scale(1.1);
            }

            &::before {
                content: '';
                width: 0;
                height: 2px;
                position: absolute;
                background-color: $color-primary;
                left: 0;
                bottom: 0;
                transition: all 300ms ease-in;
            }
            &:hover::before {
                width: 100%;
                transition: all 300ms ease-out;
            }
        }
    }
}

@media (max-width: 1555px) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 920px) {
    html {
        font-size: 50%;

        .structured {
            grid-template-columns: 1fr;
            grid-template-areas:
                'sidebar-left'
                'sidenav-right'
                'content '
                'about'
                'services'
                'skill';
        }
    }
}
