.structured {
    display: grid;
    grid-template-columns: minmax(300px, 400px) 1fr minmax(100px, 200px);

    grid-template-areas:
        'sidebar-left content sidenav-right'
        'sidebar-left about sidenav-right'
        'sidebar-left services sidenav-right'
        'sidebar-left skill sidenav-right';
}

@media (max-width: 1555px) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 50%;

        .structured {
            grid-template-columns: minmax(300px, 1000px);
            grid-template-areas:
                'sidebar-left'
                'sidenav-right'
                'content '
                'about'
                'services'
                'skill';
        }
    }
}
