.structured {
    display: grid;
    grid-template-columns: minmax(300px, 400px) 1fr minmax(50px, 200px);

    grid-template-areas:
        'sidebar-left content sidenav-right'
        'sidebar-left about sidenav-right'
        'sidebar-left services sidenav-right'
        'sidebar-left skill sidenav-right';
}

.script {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
    height: 2rem;
    z-index: 1000;

    noscript {
        position: fixed;
        font-size: 3.5rem;
        color: $color-primary;
        backdrop-filter: blur(15px);
        border-radius: 2rem;
    }
}

@media (max-width: 1555px) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 50%;

        .structured {
            grid-template-columns: 1fr;
            grid-template-areas:
                'sidebar-left'
                'sidenav-right'
                'content '
                'about'
                'services'
                'skill';
        }
    }
}
