.about2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-2;
    padding: 0 2rem;

    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 8.8rem 0 10.6rem;
        gap: 9.8rem;
        width: 100%;
        flex-wrap: wrap;

        .left {
            width: 100%;
            max-width: 53.7rem;

            .description {
                p {
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.6rem;
                    color: #484f60;
                    margin-top: 1.6rem;
                }
            }
            .image {
                margin: 1.6rem 0 4.8rem;
            }

            button {
                display: flex;
                align-items: center;
                gap: 0.8rem;
                margin-top: 4.8rem;
                background-color: #9f95e1;
                padding: 1.6rem 2.4rem;
                border-radius: 10rem;

                p {
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    color: white;
                }
            }
        }

        .right {
            margin-top: 2.4rem;
            gap: 1.6rem;
            width: 100%;
            max-width: 60.5rem;

            .box-superior,
            .box-inferior {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, auto);
                grid-template-rows: repeat(2, auto);
                row-gap: 1.6rem;
                gap: 1.6rem;
                justify-content: center;
                align-items: center;

                @media (max-width: 620px) {
                    grid-template-columns: repeat(auto-fit, 27.5rem);
                    margin: 2rem 0;
                }

                .box {
                    width: 100%;
                    max-width: 27.4rem;
                    max-height: 30.2rem;
                    padding: 3.2rem;
                    background-color: white;
                    border-radius: 3.2rem;

                    p {
                        font-weight: 600;
                        font-size: 1.8rem;
                        line-height: 2.6rem;
                        color: #080a0d;
                        margin: 1.2rem 0 0.8rem;
                    }

                    span {
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        color: #484f60;
                    }

                    &.__1 {
                        margin-left: 4rem;

                        @media (max-width: 620px) {
                            margin: 0 auto;
                        }
                    }
                    &.__4 {
                        margin-right: 4rem;
                    }
                }
            }
        }
    }
}
