.home {
    background-color: $background-1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 16.8rem;
        padding: 0 7.2rem;

        @media (max-width: 950px) {
            align-items: center;
            text-align: center;
            flex-direction: column;
            padding: 0 3.6rem;
            margin-bottom: 8.4rem;
        }
        @media (max-width: 500px) {
            padding: 0 1.8rem;
            margin-bottom: 4.2rem;
        }

        .left {
            display: flex;
            flex-direction: column;
            gap: 12.1rem;
            width: 100%;
            max-width: 56.6rem;

            @media (max-width: 950px) {
                gap: 0;
            }

            .left-start {
                @media (max-width: 950px) {
                    margin: 0 auto;
                }

                h1 {
                    max-width: 47.4rem;
                    margin-bottom: 1.6rem;
                }

                p {
                    max-width: 47.4rem;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.6rem;
                    margin-bottom: 4rem;
                }

                button {
                    padding: 1.8rem 4.9rem;
                    background-color: $color_button;
                    border-radius: 10rem;
                    display: flex;
                    align-items: center;
                    gap: 0.8rem;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: white;

                    @media (max-width: 950px) {
                        margin: 0 auto;
                    }
                }
            }

            .left-end {
                @media (max-width: 950px) {
                    margin: 1.5rem auto;
                }
                z-index: 1;
                p {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                }
                .icons {
                    display: flex;
                    gap: 1.6rem;
                    margin: 1.6rem 0 2rem;

                    li {
                        cursor: pointer;
                    }
                }

                .description {
                    width: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .img {
                        position: absolute;
                        z-index: -1;
                    }

                    .description-span {
                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                            gap: 0.8rem;

                            @media (max-width: 585px) {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
        .right {
            z-index: 1;
            margin: 1.6rem 0;
        }
    }
    .bg-botton {
        background-color: $background-1;
        background-image: url(../assets/Home/bg-button.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        bottom: -6.93%;
        height: 24.9rem;
        width: 100%;
        max-width: 192rem;
    }
}
