.section-7 {
    background-color: #c5bfed;
    padding: 16.6rem 7.2rem 9.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (max-width: 950px) {
        padding: 8rem 3.6rem 3.3rem;
    }

    @media (max-width: 500px) {
        padding: 8rem 1.8rem 1.1rem;
    }

    .object-fundo {
        position: absolute;
        right: 0;
        top: 0;

        @media (max-width: 700px) {
            max-width: 10rem;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10.9rem;
        flex-wrap: wrap;

        @media (max-width: 500px) {
            gap: 5rem;
        }

        .left {
            width: 100%;
            max-width: 59.1rem;

            .title {
                margin-bottom: 3.2rem;

                @media (max-width: 950px) {
                    text-align: center;
                }
            }

            .container-box {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;

                .box {
                    background-color: white;
                    padding: 2.4rem;
                    border-radius: 24px;
                    display: flex;
                    justify-content: space-between;

                    p {
                        font-weight: 600;
                        font-size: 1.8rem;
                        line-height: 2.6rem;
                        color: #080a0d;
                    }

                    span {
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        color: #484f60;
                    }
                }
                .__2 {
                    flex-direction: column;

                    .title-box {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 8px;
                    }
                }

                .button {
                    background-color: #9f95e1;
                    padding: 1.6rem 2.4rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10rem;
                    gap: 0.8rem;

                    .image {
                        margin-top: 0.6rem;
                    }

                    p {
                        font-weight: 600;
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
