.section-5 {
    background-color: #e2dff6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 12rem 7.2rem;

    @media (max-width: 950px) {
        padding: 0 3.6rem 6rem;
    }

    @media (max-width: 500px) {
        padding: 0 1.8rem 6rem;
    }

    .title {
        width: 100%;
        max-width: 67.3rem;
        margin-bottom: 5.6rem;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        text-align: center;

        p {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2rem;
            color: #484f60;
        }
    }

    .container-box {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 30.4rem);
        justify-content: center;
        align-items: center;
        gap: 1.6rem;

        @media (max-width: 1440px) {
            grid-template-columns: repeat(auto-fit, 30.4rem);
        }

        .box {
            background-color: white;
            padding: 1.2rem;
            border-radius: 3.2rem;

            h3 {
                font-weight: 400;
                font-size: 2.4rem;
                line-height: 3.2rem;
                color: #080a0d;
                margin: 1.6rem 0 1.2rem;
            }

            p {
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 2rem;
                color: #484f60;
            }
        }
    }
}
