@import 'partials/reset';
@import 'partials/grid';
@import 'partials/patterns';
@import 'partials/header';
@import 'partials/home';
@import 'partials/footer';
@import 'partials/about';
@import 'partials/character';
