.home {
    height: 100vh;
    font-family: sans-serif;
    background-image: url(../img/bg-home.jpg);
    background-size: cover;
    background-attachment: fixed;

    .logo {
        display: none;
    }

    .navbar {
        margin: 0px auto;
        display: grid;
        padding-top: 40px;
        justify-content: center;

        .menu {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(7, minmax(100px, 200px));
            margin: 0 auto;
            font-size: 1.6rem;
            list-style: none;
            text-transform: uppercase;
            text-align: center;

            a {
                text-decoration: none;
                color: white;
                transition: transform 0.8s;

                &:hover {
                    text-decoration: underline;
                    color: $color-primary;
                    transform: scale(1.2);
                    transition: transform 0.8s;
                }
            }
        }
    }

    .title {
        height: calc(100vh - 173px);
        display: grid;
        grid-template-columns: minmax(100px, auto);
        align-content: center;
        justify-items: center;
        text-align: center;
        margin: 0 auto;

        p:first-child {
            color: $color-primary;
            font-size: 1.8rem;
            margin: 15px;
            letter-spacing: 5px;
            font-weight: 100;
        }

        h1 {
            color: white;
            font-size: 13rem;
            margin: 15px;
            transition: transform 0.8s;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
                transition: transform 0.8s;
            }
        }

        p {
            color: white;
            margin: 15px 0 30px;
            font-size: 1.8rem;
            font-weight: 600;
        }
    }

    ion-icon {
        position: fixed;
        top: 90%;
        right: 20px;
        color: rgba(0, 0, 0, 0.878);
        width: 50px;
        height: 50px;
        z-index: 100;

        &:active {
            transform: scale(1.1);
        }
    }
}

@media (max-width: 1555px) {
    .home {
        background-position: center;
        background-attachment: scroll;
    }
}

@media (max-width: 950px) {
    .home {
        background-position: center center;
        .navbar {
            display: none;
        }
        .logo {
            display: block;
            margin: 0 auto;
            width: 150px;
            height: 150px;
            padding: 20px;
        }
    }
}
