/* Estilos para a seção de filtros */
.filtros-container,
.filtros-container-Banner {
  display: flex;
  justify-content: center;
  align-items: center;

  .filtros {
    display: flex;
    gap: 1rem;
    background-color: $cor-fundo-filtro;
    padding: 0.5rem;
    border: 0.1rem solid $cor-borda-filtro;
    border-radius: 0.8rem;
    max-width: 600px;

    h2 {
      font-size: 1.4rem;
      color: $cor-texto-filtro;
      text-align: center;
    }

    /* Estilos para os selects dos filtros */
    select {
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
      border: 0.1rem solid $cor-borda-filtro;
      border-radius: 0.4rem;
      color: $cor-texto-filtro;
      background-color: #fff;
      cursor: pointer;
      font-size: 1.2rem;

      &:focus {
        outline: none;
        border-color: $cor-primaria;
        box-shadow: 0 0 0.5rem rgba(0, 123, 255, 0.5);
      }
    }
  }

  /* Estilo para o botão de filtro (caso haja um botão de ação) */
  .filtro-btn {
    background-color: $cor-primaria;
    color: #fff;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $cor-primaria-hover;
    }
  }
}

.filtros-container {
  @media (max-width: 779px) {
    display: none;
  }
}
.filtros-container-Banner {
  @media (min-width: 780px) {
    display: none;
  }
}
