/* Estoque */
.estoque {
  padding: 2rem;
  background-color: $cor-cinza;
  text-align: center;

  @media (max-width: 500px) {
    padding: 1rem;
  }

  /* Lista de veículos */
  .veiculos-lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;

    /* Estilo dos cards de veículo */
    .veiculo-card {
      width: 100%;
      max-width: 40rem;
      height: 100%;
      max-height: 45rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $cor-fundo-card;
      padding: 1rem;
      box-shadow: 0 0.4rem 0.8rem $cor-sombra-card;
      text-align: center;
      position: relative;

      @media (max-width: 854px) {
        max-width: 30rem;
      }

      @media (max-width: 500px) {
        max-width: 17rem;
        min-height: 32rem;
      }

      h3 {
        font-size: 1.6rem;
        margin: 0.5rem 0;

        @media (max-width: 500px) {
          font-size: 1.4rem;
        }
      }

      h4 {
        font-size: 1.5rem;
        margin: 0.5rem 0;

        @media (max-width: 500px) {
          font-size: 1.3rem;
        }
      }

      p {
        font-size: 1.3rem;
        margin: 0.5rem 0;

        @media (max-width: 500px) {
          font-size: 1.1rem;
        }
      }

      .btnVerMais {
        width: 10rem;
        padding: 1rem;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 0.4rem;
        font-size: 1.2rem;
        margin: 0.5rem 0;

        &:hover {
          background-color: darken(#007bff, 10%);
        }
      }

      /* Carrossel de imagens dentro do card */
      .carrossel {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: 100%;
        overflow: hidden;

        .carrossel-container {
          display: flex;
          transition: transform 0.5s ease;

          .carrossel-item {
            min-width: 100%;

            img {
              width: 100%;
              height: 25rem;
              object-fit: cover;
              display: block;

              @media (max-width: 854px) {
                object-fit: contain;
              }
              @media (max-width: 500px) {
                height: 11rem;
                object-fit: cover;
              }
            }
          }
        }

        /* Botões de navegação */
        .carrossel-btn {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-color: $cor-botao-carrossel;
          color: $cor-botao-texto;
          border: none;
          padding: 0.3rem;
          cursor: pointer;
          font-size: 1.5rem;

          &.prev {
            left: 0.5rem;
          }

          &.next {
            right: 0.5rem;
          }
        }
      }
    }
  }
}
