$colorPrimary: hsl(243, 87%, 12%);
$backgroundSupport: hsl(238, 22%, 44%);
$button: hsl(224, 93%, 58%);
$links: hsl(170, 45%, 43%);
$background: hsl(240, 75%, 98%);
$color_placeholder: hsl(0, 0%, 75%);
$background_about: #f9f8fe;
