@import 'partials/variable';
@import 'partials/mixin';
@import 'partials/reset';
@import 'partials/patterns';
@import 'partials/header';
@import 'partials/home';
@import 'partials/about';
@import 'partials/testimonials';
@import 'partials/clients';
@import 'partials/pricing';
@import 'partials/contact';
@import 'partials/footer';
@import 'partials/dropdown';
