.back2{
  position: relative;
 margin: 2rem 0;
  
}

.tabelaBatata {
  @include flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  

  .title {
    h2 {
      font-size: 3rem;
      text-align: center;
      @media (max-width: 768px) {
        font-size: 2.6rem;
        
      }
      @media (max-width: 400px) {
        font-size: 2.0rem;
        
      }
    }
  }



  .lista {
    padding: 2rem;
    border-radius: 3rem;
    border: 0.1rem solid black;
    max-width: 80rem;
    font-size: 1.8rem;
    @media (max-width: 768px) {
      font-size: 1.2rem;
      padding: 1rem;
    }
    @media (max-width: 400px) {
      font-size: 1rem;
      padding: 0.5rem;
      font-size: 1rem;
      
    }

    table {
      th,
      td {
        text-align: center;
        padding: 0.5rem;
        border-bottom: 0.1rem solid black;
      }
    }
  }

  .button {
    button {
      padding: 1rem;
    }
  }
  h3 {
    font-size: 1.8rem;
    @media (max-width: 768px) {
      font-size: 1.6rem;
    }
  }
}
