.front {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;

  .container {
    width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;

    .card {
      width: 100%;
      background-color: rgb(255, 130, 51);
      padding: 2rem;
      display: flex;
      border-radius: 16px;
      background: #ff8233;

      a {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 2rem;
        color: black;
      }
    }
  }
}
