.front {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 4rem;

  .container {
    width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;

img{
  width: 15rem;
}

    .card {
      width: 100%;
      background-color: rgb(255, 130, 51);
      padding: 2rem;
      display: flex;
      border-radius: 16px;
      background: #ff8233;

      a {
        
        .container {
          text-align: center;
          padding: 20px;
        }

        .inputContainer {
          margin-bottom: 20px;
        }

        .inputBox {
          margin-bottom: 10px;
        }

        button {
          background-color: #4caf50;
          color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }

        button:hover {
          background-color: #45a049;
        }

        h2 {
          font-size: 18px;
          color: #333;
        }

        /* Adapte as cores conforme a identidade visual do seu projeto */

        display: block;
        text-align: center;
        width: 100%;
        font-size: 2rem;
        color: black;
      }
    }
  }
}
