* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: white;
  background: black;
}
body #body-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
@media (max-width: 768px) {
  body {
    background: #1f1f1f;
  }
  body video {
    display: none;
  }
}

.structured {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(300px, 460px) 1fr minmax(50px, 200px);
  grid-template-areas: "sidebar-left content sidenav-right" "sidebar-left about sidenav-right" "sidebar-left services sidenav-right" "sidebar-left skill sidenav-right" "sidebar-left contact sidenav-right";
}

.script {
  position: relative;
  z-index: 1000;
}
.script noscript {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.script noscript p {
  color: #28e98c;
  font-size: 3rem;
  transition: all 300ms ease-out;
  position: relative;
}
.script noscript p:hover {
  color: white;
  transition: all 300ms ease-in;
  transform: scale(1.1);
}
.script noscript p::before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background-color: #28e98c;
  left: 0;
  bottom: 0;
  transition: all 300ms ease-in;
}
.script noscript p:hover::before {
  width: 100%;
  transition: all 300ms ease-out;
}

@media (max-width: 1555px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 920px) {
  html {
    font-size: 50%;
  }
  html .structured {
    grid-template-columns: 1fr;
    grid-template-areas: "sidebar-left" "sidenav-right" "content " "about" "services" "skill";
  }
}
.sidebar-left {
  grid-area: sidebar-left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-left .container {
  position: fixed;
  max-width: 40rem;
  border: 1px solid #c3c3c3;
  border-radius: 3rem;
  padding: 30px 50px;
  cursor: default;
  top: 50%;
  transform: translate(0, -50%);
  font-family: "Roboto Slab", serif;
}
@media (max-width: 1550px) {
  .sidebar-left .container {
    max-width: 34rem;
  }
}
.sidebar-left .container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-left .container .title h1 {
  font-size: 40px;
  font-weight: 400;
}
.sidebar-left .container .title h1:hover {
  color: #28e98c;
}
.sidebar-left .container .title span {
  width: 60px;
  font-size: 14px;
  font-weight: 400;
  right: 0;
  text-align: center;
}
.sidebar-left .container .title span:hover {
  color: #28e98c;
}
.sidebar-left .container .img {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  margin: 30px auto;
}
@media (max-width: 1550px) {
  .sidebar-left .container .img {
    height: 32rem;
  }
}
.sidebar-left .container .img img {
  max-width: 100%;
  display: block;
  filter: grayscale(100%);
  transition: 800ms;
}
.sidebar-left .container .img img:hover {
  filter: grayscale(0%);
  transition: 700ms;
  transform: scale(1.07);
}
.sidebar-left .container .contact {
  text-align: center;
  margin-top: 10px;
  font-weight: 100;
}
.sidebar-left .container .contact p,
.sidebar-left .container .contact a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}
.sidebar-left .container .contact p:hover,
.sidebar-left .container .contact a:hover {
  color: #28e98c;
  font-weight: 400;
}
.sidebar-left .container .contact p {
  margin-top: 10px;
}
.sidebar-left .container .container-icons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar-left .container .container-icons .icons {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  margin: 30px auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}
.sidebar-left .container .container-icons .icons a {
  color: #c3c3c3;
  text-decoration: none;
}
.sidebar-left .container .container-icons .icons li {
  list-style: none;
}
.sidebar-left .container .container-icons .icons ion-icon {
  padding: 15px;
  border: 2px solid #c3c3c3;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: 300ms ease-out;
}
.sidebar-left .container .container-icons .icons ion-icon:hover {
  color: #28e98c;
  border: 1px solid #28e98c;
  transform: scale(1.1);
  transition: 300ms ease-in;
}
.sidebar-left .container .container-icons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #28e98c;
  border-radius: 40px;
  width: 100%;
  height: 50px;
  border: 3px solid #28e98c;
  transition: 800ms;
}
.sidebar-left .container .container-icons .button a {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-decoration: none;
}
.sidebar-left .container .container-icons .button p {
  color: #1f1f1f;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
}
.sidebar-left .container .container-icons .button ion-icon {
  color: #1f1f1f;
  width: 20px;
  height: 20px;
}
.sidebar-left .container .container-icons .button:hover {
  border-radius: 40px;
  background-color: transparent;
  transform: scale(1.07);
  transition: 300ms ease-in;
}
.sidebar-left .container .container-icons .button:hover:hover p {
  color: #28e98c;
}
.sidebar-left .container .container-icons .button:hover:hover ion-icon {
  color: #28e98c;
}

@media (max-width: 920px) {
  .sidebar-left {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: flex-start;
  }
  .sidebar-left .container {
    max-width: 40rem;
    position: relative;
  }
}
.home {
  grid-area: content;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
}
.home h2 {
  font-size: 6.3rem;
  width: 90%;
  transition: 1000ms;
  text-align: center;
}
.home h2 span {
  font-size: 6.5rem;
  color: #28e98c;
  transition: 1000ms;
  display: inline-block;
}
.home h2 span:hover {
  transform: scale(1.09);
  transition: transform 0.8s;
}
.home p {
  font-size: 1.8rem;
  margin: 70px auto;
  width: 80%;
  color: #c3c3c3;
  text-align: center;
  line-height: 25px;
  transition: transform 800ms ease-in-out;
}
.home p:hover {
  transform: scale(1.2);
  transition: transform 800ms ease-in-out;
  color: white;
}
.home p:hover:hover strong {
  color: #28e98c;
  width: 0;
  transition: all 800ms ease-in-out;
}
.home p:hover:hover strong::before {
  width: 0;
}
.home p strong {
  font-weight: 100;
  color: rgb(161, 161, 161);
  position: relative;
}
.home p strong::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(161, 161, 161);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 400ms ease-in;
}
.home p strong:hover::before {
  width: 0;
  transition: all 400ms ease-in-out;
  background-color: #28e98c;
}

@media (max-width: 920px) {
  .home {
    height: 50vh;
  }
  .home h2 {
    margin: 50px 0;
    text-align: center;
    width: 90%;
    font-size: 4.5rem;
  }
}
@media (max-width: 768px) {
  .home {
    height: auto;
  }
}
@media (max-height: 600px) {
  .home {
    height: auto;
  }
}
.sidenav-right {
  grid-area: sidenav-right;
  display: flex;
  justify-content: center;
}
.sidenav-right .nav {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  border: 1px solid #999999;
  border-radius: 40px;
  padding: 15px 10px;
}
.sidenav-right .nav .menu {
  padding: 0;
}
.sidenav-right .nav .menu li {
  list-style: none;
}
.sidenav-right .nav .menu li a {
  color: #999999;
}
.sidenav-right .nav .menu li a:hover {
  color: #28e98c;
}
.sidenav-right .nav .menu li + li {
  margin-top: 20px;
}
.sidenav-right .nav .menu ion-icon {
  width: 25px;
  height: 25px;
}

@media (max-width: 920px) {
  .sidenav-right {
    display: none;
  }
}
.about {
  grid-area: about;
  height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h2 {
  width: 100%;
  font-size: 4rem;
  text-align: center;
}
.about h2 span {
  max-width: 100%;
  font-size: 4.5rem;
  color: #28e98c;
  transition: 1000ms;
  display: block;
  margin: 0 auto;
}
.about h2 span:hover {
  transform: scale(1.08);
  transition: transform 0.8s;
}
.about p {
  display: block;
  width: 80%;
  margin: 70px auto;
  font-size: 1.8rem;
  text-align: center;
  color: #c3c3c3;
  line-height: 25px;
  transition: transform 800ms ease-in-out;
}
.about p:hover {
  transform: scale(1.2);
  transition: transform 800ms ease-in-out;
  color: white;
}
.about p:hover:hover strong {
  color: #28e98c;
  transition: all 800ms ease-in;
}
.about p:hover:hover strong::before {
  width: 0;
}
.about p strong {
  position: relative;
  font-weight: 100;
  color: rgb(161, 161, 161);
}
.about p strong::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(161, 161, 161);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 400ms ease-in;
}
.about p strong:hover::before {
  width: 0;
  transition: all 400ms ease-in-out;
  background-color: #28e98c;
}

@media (max-width: 1555px) {
  .about p {
    max-width: 70%;
  }
}
@media (max-width: 920px) {
  .about {
    height: 50vh;
  }
  .about h2 {
    width: 100%;
    text-align: center;
  }
  .about span {
    text-align: center;
    width: 80%;
    margin: 7rem auto;
  }
}
@media (max-width: 768px) {
  .about {
    height: 100vh;
  }
}
@media (max-height: 600px) {
  .about {
    height: auto;
  }
}
.services {
  grid-area: services;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  color: #000;
  padding: 0 2rem;
}
.services h2 {
  color: white;
  font-size: 2rem;
}
.services .swiper {
  width: 100%;
  height: 100%;
}
.services .swiper .swiper-slide {
  text-align: center;
  font-size: 1.8rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .swiper .swiper-slide .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.skill {
  height: 100vh;
  grid-area: skill;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.skill .container .title {
  padding: 30px 0;
}
.skill .container .title h2 {
  text-align: center;
  font-size: 4rem;
}
.skill .container .title h2 span {
  color: #28e98c;
}
.skill .container .container-img {
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  gap: 30px;
  justify-content: center;
}
.skill .container .container-img div {
  width: 145px;
  height: 145px;
  border: 2px solid #c3c3c3;
  padding: 45px;
  border-radius: 50%;
  margin: 0 auto;
}
.skill .container .container-img div:hover:nth-child(1), .skill .container .container-img div:hover:nth-child(2), .skill .container .container-img div:hover:nth-child(3), .skill .container .container-img div:hover:nth-child(4) {
  filter: grayscale(0);
  transition: 500ms ease-in;
  border: 2px solid;
}
.skill .container .container-img div:hover:nth-child(1):hover img, .skill .container .container-img div:hover:nth-child(2):hover img, .skill .container .container-img div:hover:nth-child(3):hover img, .skill .container .container-img div:hover:nth-child(4):hover img {
  transform: scale(1.4);
  transition: 800ms ease-in;
}
.skill .container .container-img div img {
  width: 100%;
  height: 100%;
  transition: 800ms ease-out;
}
.skill .container .container-img div p {
  font-size: 1.3rem;
  text-align: center;
  padding: 20px 0;
}
.skill .container .container-img div:first-child {
  color: #fc490b;
  filter: grayscale(100%);
  transition: 700ms ease-in;
}
.skill .container .container-img div:nth-child(2) {
  color: #2196f3;
  filter: grayscale(100%);
  transition: 700ms ease-in;
}
.skill .container .container-img div:nth-child(3) {
  color: #cc6699;
  filter: grayscale(100%);
  transition: 700ms ease-in;
}
.skill .container .container-img div:nth-child(4) {
  color: #f4511e;
  filter: grayscale(100%);
  transition: 700ms ease-in;
}
.skill .container .title2 {
  padding: 30px 0;
}
.skill .container .title2 h2 {
  text-align: center;
  font-size: 4rem;
}
.skill .container .title2 h2 span {
  color: #28e98c;
}
.skill .container .container-estudando {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.skill .container .container-estudando div {
  width: 145px;
  height: 145px;
  border: 2px solid #c3c3c3;
  padding: 45px;
  border-radius: 50%;
  margin: 0 auto;
}
.skill .container .container-estudando div:hover:nth-child(1), .skill .container .container-estudando div:hover:nth-child(2) {
  filter: grayscale(0);
  transition: 500ms ease-in;
  border: 2px solid;
}
.skill .container .container-estudando div:hover:nth-child(1):hover img, .skill .container .container-estudando div:hover:nth-child(2):hover img {
  transform: scale(1.4);
  transition: 800ms ease-in;
}
.skill .container .container-estudando div img {
  width: 100%;
  height: 100%;
  transition: 800ms ease-out;
}
.skill .container .container-estudando div p {
  font-size: 1.3rem;
  text-align: center;
  padding: 15px 0;
}
.skill .container .container-estudando div:first-child {
  color: #f7df1e;
  filter: grayscale(100%);
  transition: 700ms ease-in;
}
.skill .container .container-estudando div:nth-child(2) {
  color: #80deea;
  filter: grayscale(100%);
  transition: 700ms ease-in;
}

@media (max-width: 1555px) {
  .skill .container {
    gap: 5px;
  }
  .skill .container .title {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .skill {
    height: 100vh;
  }
}
@media (max-height: 600px) {
  .skill {
    height: auto;
  }
}
.dropdown {
  position: fixed;
  width: 100%;
  max-width: 300px;
  height: 100%;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.284);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: -100%;
  transition: 800ms ease-out;
  z-index: 2;
}
.dropdown span {
  text-align: center;
  font-size: 3rem;
  margin: 50px auto;
  color: #28e98c;
  position: relative;
  transition: all 500ms ease-in-out;
}
.dropdown span:hover {
  transform: scale(1.08);
  transition: all 500ms ease-in-out;
}
.dropdown span:hover::before {
  width: 100%;
  transition: all 500ms ease-in-out;
}
.dropdown span::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: 0;
  background-color: #28e98c;
  transition: all 500ms ease-in-out;
}
.dropdown .nav .menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.dropdown .nav .menu li {
  transition: all 500ms ease-in-out;
}
.dropdown .nav .menu li:hover {
  transform: scale(1.08);
  transition: all 500ms ease-in-out;
}
.dropdown .nav .menu li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.693);
  text-align: center;
  font-size: 2.5rem;
  padding: 5px;
  position: relative;
  transition: all 500ms ease-in-out;
}
.dropdown .nav .menu li a:hover::before {
  width: 100%;
  transition: all 500ms ease-in-out;
}
.dropdown .nav .menu li a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  bottom: 0;
  background-color: #28e98c;
  transition: all 500ms ease-in-out;
}
.dropdown .nav .menu li ion-icon {
  color: #28e98c;
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
}

.hamburger {
  display: none;
}
.hamburger #checkbox {
  display: none;
}
.hamburger .toggle {
  background-color: #1f1f1f;
  border-radius: 50px;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
  cursor: pointer;
}
.hamburger .toggle .bars {
  width: 100%;
  height: 4px;
  background-color: #28e98c;
  border-radius: 4px;
}
.hamburger .toggle #bar2 {
  transition-duration: 0.8s;
}
.hamburger .toggle #bar1,
.hamburger .toggle #bar3 {
  width: 70%;
}
.hamburger #checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}
.hamburger #checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}
.hamburger #checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}
.hamburger #checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}
.hamburger #checkbox:checked + .toggle {
  transition-duration: 700ms;
  transform: rotate(180deg);
}
.hamburger #checkbox:checked + .toggle:hover {
  transform: rotate(180deg);
  transition: transform 700ms;
}

.dropdown {
  visibility: hidden;
}

.dropdown.open {
  left: 0;
}

@media (max-width: 920px) {
  .dropdown {
    visibility: visible;
  }
  .hamburger {
    display: block;
    z-index: 2;
  }
}
@media (max-width: 880px) {
  .dropdown {
    max-width: 250px;
  }
}
@media (max-width: 768px) {
  .dropdown {
    max-width: 200px;
  }
}
@media (max-width: 660px) {
  .dropdown {
    max-width: 180px;
    justify-content: start;
  }
}/*# sourceMappingURL=main.css.map */