*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
}
body{
  color: white;
  background: rgb(226,59,222);
  background: linear-gradient(360deg, rgba(226,59,222,1) 0%, rgba(102,24,144,1) 100%);
}

.profile{
  text-align: center;
}
.foto-principal{
  margin-top: 25px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
  padding: 2px;
  box-shadow: 0 0 40px rgb(255, 255, 255);
}

.social-icons{
  width: 35px;
}
h1{
  margin-top: 10px;
  margin-bottom: 0;
}
h2{
  letter-spacing: -1px;
  margin-bottom: 10px;

}
.list-links{
  list-style: none;
}

.list-links li{
  padding: 16px;
  margin: 5px 15px;
  border-radius: 8px;
  background-color: white;
  color: rgba(102,24,144,1);
  font-weight: bold;
}
.list-links :hover{
  box-shadow: 0 0 25px white;
}