* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Archivo", sans-serif;
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: #000201;
  color: white;
}

.container {
  display: flex;
  width: 100%;
  max-width: 143.5rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
    width: 124.8rem;
  }
}

.subtitle {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.subtitle span {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

h1 {
  font-weight: 700;
  font-size: 12.4rem;
  line-height: 97.5%;
  font-stretch: 110;
}
@media (max-width: 600px) {
  h1 {
    font-size: 6rem;
    text-align: center;
  }
}

h2 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 130%;
  font-stretch: 110;
}
@media (max-width: 600px) {
  h2 {
    font-size: 3rem;
    text-align: center;
  }
}

p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 160%;
  color: #bdc2cb;
}
@media (max-width: 600px) {
  p {
    font-size: 1.5rem;
    text-align: center;
  }
}

.card-character {
  width: 100%;
  max-width: 38.4rem;
}
@media (max-width: 768px) {
  .card-character {
    width: 13.5rem;
  }
}
.card-character .image {
  width: 100%;
  margin-bottom: 2.4rem;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.card-character .image:hover {
  filter: blur(0);
}
.card-character .image img {
  transition: all 500ms ease-out;
  filter: brightness(0.7);
}
.card-character .image:hover img {
  transform: scale(1.1);
  transition: all 500ms ease-in;
  filter: brightness(1);
}
.card-character .image:hover button {
  transition: all 300ms ease-in;
  opacity: 1;
}
.card-character button {
  bottom: 5.7rem;
  position: absolute;
  padding: 1.8rem 3.6rem;
  background: #3265ea;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  color: white;
  opacity: 0;
  transition: all 300ms ease-out;
}
@media (max-width: 768px) {
  .card-character button {
    font-size: 1rem;
    padding: 0.7rem 1.4rem;
    bottom: 2.8rem;
    left: 1rem;
  }
}
.card-character .description h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 0.7rem;
}
.card-character .description span {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}
@media (max-width: 768px) {
  .header {
    padding: 0 0.5rem;
    justify-items: center;
  }
}
.header .icon-psn {
  padding: 2.6rem 0;
}
.header .logo-header {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .header .logo-header {
    display: flex;
    justify-content: center;
  }
  .header .logo-header img {
    max-width: 12rem;
  }
}
.header .disponivel {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.8rem;
}
@media (max-width: 768px) {
  .header .disponivel {
    gap: 0.9rem;
  }
}
.header .disponivel .plataforma {
  display: flex;
  gap: 0.8rem;
}
.header .disponivel .plataforma span {
  padding: 5px 8px 4px;
  border: 1.5px solid white;
}
.header .disponivel span {
  font-size: 1.6rem;
}

.home {
  background-image: url(../assets/background.png);
  height: 80rem;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1250px) {
  .home {
    background-size: cover;
    height: auto;
  }
}
.home .container {
  display: flex;
  align-items: flex-end;
  gap: 18rem;
}
@media (max-width: 1250px) {
  .home .container {
    padding: 3rem 1.5rem;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 0;
  }
}
.home .container .box-left {
  width: 100%;
  max-width: 78.2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home .container .box-left .subtitle {
  margin-bottom: 2.4rem;
}
.home .container .box-left h1 {
  margin-bottom: 1.8rem;
}
.home .container .box-left p {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 140%;
  color: white;
  margin-bottom: 4rem;
}
.home .container .price {
  display: flex;
  margin-bottom: 9.2rem;
}
.home .container .price .valor {
  padding: 1.8rem 3.6rem;
  background-color: white;
  color: black;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.2rem;
}
@media (max-width: 768px) {
  .home .container .price .valor {
    padding: 0.9rem 1.8rem;
    font-size: 1.4rem;
  }
}
.home .container .price .pre-venda {
  padding: 1.8rem 3.6rem;
  background-color: #3265ea;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.2rem;
}
@media (max-width: 768px) {
  .home .container .price .pre-venda {
    padding: 0.9rem 1.8rem;
    font-size: 1.4rem;
  }
}
.home .container .box-right {
  width: 100%;
  max-width: 46.3rem;
}
.home .container .box-right p {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #ffffff;
  margin-bottom: 2.4rem;
}
.home .container .box-right .video-gif {
  position: relative;
  width: 100%;
}
.home .container .box-right .video-gif .gif {
  width: 44rem;
  height: 24.7rem;
  background: #000000;
  border: 4px solid #3265ea;
  box-shadow: 0px 22.8941px 34.3411px -11.447px rgba(8, 8, 11, 0.8);
}
@media (max-width: 768px) {
  .home .container .box-right .video-gif .gif {
    width: 100%;
    max-width: 35rem;
    margin: 0;
  }
}
.home .container .box-right .video-gif .play {
  position: absolute;
  left: 3.2rem;
  bottom: 2.5rem;
  cursor: pointer;
}
.home .container .box-right .faixa_etaria {
  width: 33.6rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-top: 5.2rem;
}
.home .container .box-right .faixa_etaria span {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7rem;
  color: #ffffff;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
.footer .info {
  width: 100%;
}
.footer .info .info-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
  align-items: center;
  justify-content: center;
  gap: 7.2rem;
}
@media (max-width: 768px) {
  .footer .info .info-list {
    gap: 3rem;
  }
}
.footer .info .info-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .info .info-list li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #bdc2cb;
  text-align: center;
}

.about {
  background-image: url(../assets/bg-about-1920.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1250px) {
  .about {
    background-size: cover;
    height: auto;
    padding: 3rem 1.5rem;
  }
}
.about .container {
  width: 100%;
  max-width: 146.3rem;
  align-items: flex-end;
  margin: 16rem 0 8rem;
  gap: 6rem;
}
@media (max-width: 1250px) {
  .about .container {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 5rem;
    margin: 8rem 0 4rem;
  }
}
@media (max-width: 768px) {
  .about .container {
    width: 100%;
  }
}
.about .container .left {
  width: 100%;
  max-width: 62.9rem;
}
.about .container .left h2 {
  max-width: 50.1rem;
  margin: 2.8rem 0 2.4rem;
}
.about .container .left .description {
  display: flex;
  align-items: center;
  margin: 5.8rem 0 0;
  gap: 4.7rem;
}
@media (max-width: 768px) {
  .about .container .left .description {
    gap: 2.7rem;
  }
}
.about .container .left .description span {
  width: 32.4rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 160%;
}
.about .container .right {
  width: 100%;
}

.character {
  background-image: url(../assets/bg-characters.png);
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 17.6rem;
  padding-bottom: 14.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.character .container {
  align-items: flex-start;
  justify-content: center;
  gap: 12.7rem;
}
@media (max-width: 1250px) {
  .character .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
}
.character .container .left {
  width: 100%;
  max-width: 61.2rem;
}
.character .container .left h2 {
  margin: 2.8rem 0 2.4rem;
}
.character .container .left p {
  max-width: 57.8rem;
}
.character .container .right {
  width: 100%;
  display: flex;
  align-items: center;
}
.character .container .right .day {
  max-width: 21.8rem;
}
.character .container .right .day span {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  margin-top: 2.2rem;
}

.mySwiper {
  padding-left: 16.5rem;
  width: 100%;
}
@media (max-width: 1250px) {
  .mySwiper {
    padding: 0;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */