.clients {
    background-color: $background-primary;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
        padding-top: 3.1rem;
    }

    .container {
        @include flex;
        flex-direction: column;
        gap: 3.5rem;

        .works {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 9.7rem;
            padding: 5rem 0;

            @media (max-width: 600px) {
                flex-direction: column;
                gap: 6rem;
            }

            img {
                width: 14.9rem;
                height: 9rem;
            }
        }
        .subscribe {
            width: 100%;
            display: flex;
            justify-content: center;
            background: $gradient;
            padding: 3rem 5rem;
            align-items: center;
            gap: 24rem;
            margin: 2rem 0;

            @media (max-width: 900px) {
                flex-wrap: wrap;
                gap: 3rem;
                text-align: center;
            }

            .title {
                width: 100%;
                max-width: 25.8rem;
                color: white;
            }

            .input {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                    width: 100%;
                    max-width: 45rem;
                    height: 5.8rem;
                    outline: none;
                    border: none;
                    padding: 1.5rem 2rem;
                    border-radius: 0.5rem 0 0 0.5rem;
                }
                button {
                    height: 5.8rem;
                    padding: 1.5rem 2.3rem;
                    border-radius: 0rem 0.5rem 0.5rem 0rem;
                    border: 0.1rem solid #e6e6e6;
                    background: var(--primary-color, #23a6f0);
                    color: white;
                }
            }
        }
    }
}
