.contact {
    @include flex;
    padding-bottom: 3.5rem;
    flex-direction: column;
    background: linear-gradient($background-primary, white);

    @media (max-width: 600px) {
        background: $background-primary !important;
        padding: 0;
    }

    .container {
        @include flex;
        width: 100%;
        padding: 5rem 0;
        gap: 5rem;
        flex-direction: column;

        @media (max-width: 600px) {
            padding: 3rem 0 0;
            gap: 6rem;
        }

        .container-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 4rem;

            @media (max-width: 900px) {
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                gap: 3rem;
            }

            .title {
                @include flex;
                color: white;
                flex-direction: column;
                max-width: 51.6rem;
                gap: 1.5rem;
                padding: 5rem 5rem 5rem 0;

                p {
                    max-width: 45.6rem;
                }

                @media (max-width: 900px) {
                    text-align: center;
                    padding: 5rem 5rem;
                }
            }

            .left-img {
                padding: 5rem 5rem;
            }
        }

        .container-form {
            @include flex;
            padding: 5rem 0;

            @media (max-width: 900px) {
                flex-wrap: wrap;
                padding: 0;
            }

            .image {
                .mobile {
                    display: none;
                }

                @media (max-width: 415px) {
                    .web {
                        display: none;
                    }
                    .mobile {
                        display: block;
                    }
                }
            }

            .login {
                
                max-width: 61rem;
                height: 61rem;
                display: flex;
                align-items: center;
                justify-content: start;
                flex-direction: column;
                gap: 2rem;
                background-color: white;
                padding: 4rem 5rem;

                @media (max-width: 700px) {
                    flex-wrap: wrap;
                    height: auto;
                    width: 100%;
                }

                .title-login {
                    .title_mobile {
                        display: none;
                    }

                    @media (max-width: 600px) {
                        .title_mobile {
                            display: block;
                            text-align: center;
                        }
                        .title_web {
                            display: none;
                        }
                    }
                }

                .container_input {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 1rem;

                    label {
                        display: block;
                        margin-bottom: 1rem;
                    }

                    input {
                        width: 100%;
                    }

                    option {
                        margin-bottom: 1rem;
                    }

                    button {
                        margin-top: 4rem;
                        width: 100%;
                        @include btn-primary;
                        color: white;
                    }
                }
            }
        }
    }
}
