.header_mobile {
    background-color: $background-primary;
    z-index: 100;
    padding: 4rem;
    position: fixed;
    @include flex;
    flex-direction: column;
    width: 100%;
    gap: 7rem;

    @media (min-width: 901px) {
        display: none;
    }

    .container_mobile {
        width: 100%;
        @include flex;
        justify-content: space-between;
        color: white;

        ul {
            @include flex;
            gap: 2.5rem;
            position: relative;

            li {
                cursor: pointer;
            }

            .icon {
                transition: all 100ms linear;
                opacity: 0;
                position: absolute;
                right: 2.4rem;
                top: 0;
            }

            .icon.active {
                transition: all 500ms linear;
                opacity: 1;
                position: absolute;
                right: 2.4rem;
                top: 0;
            }

            .hamburger {
                opacity: 1;
                transition: all 500ms linear;
            }

            .hamburger.active {
                opacity: 0;
                transition: all 100ms linear;
            }
        }

        #hamburger:active {
            transform: scale(1.2);
        }
    }

    .list_mobile {
        z-index: -2;
        background-color: $background-primary;
        width: 100%;
        position: absolute;
        top: -250%;
        opacity: 1;
        transition: all 500ms linear;

        ul {
            z-index: -2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 3rem;

            a {
                @include text_menu;
                transition: color 200ms linear;
                color: $background-primary;
            }
        }
    }
    .list_mobile.active {
        z-index: -2;
        background-color: $background-primary;
        width: 100%;
        top: 100%;
        opacity: 1;
        transition: all 500ms linear;
        padding: 5.8rem 0 9.8rem;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 3rem;

            a {
                @include text_menu;
                transition: color 600ms linear;
            }
        }
    }
}
