.header {
    background: transparent;
    width: 100%;
    padding: 1.6rem 0;
    @media (max-width: 900px) {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4.1rem;

            .logo {
                color: white;
                padding: 1.3rem 4.2rem 1.3rem 0rem;
            }

            .menu {
                ul {
                    display: flex;
                    align-items: center;
                    gap: 2.1rem;
                }
            }

            a {
                color: white;
            }
        }

        .login {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4.5rem;

            span {
                color: white;
            }

            button {
                @include btn-primary;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                color: white;
            }
        }
    }
}
