.home {
    background-image: url(../assets/home/bg.jpg);
    background-size: cover;
    background-position: center;


    .bg {
        background: rgba(0, 0, 0, 0.5);
        padding: 0 3rem;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 8rem 0;
        color: white;
        gap: 8rem;
        @media (max-width: 600px) {
            gap: 4rem;
        }

        .title {
            width: 100%;
            display: flex;
            flex-direction: column;
            max-width: 70rem;
            text-align: center;
            gap: 4rem;
            padding: 4rem 0;

            .buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                @media (max-width: 600px) {
                    gap: 3rem;
                    flex-direction: column;
                }

                button {
                    @include btn-home;
                    background: var(--primary-color, #23a6f0);
                    color: white;
                    transition: all 400ms linear;

                    &:hover {
                        background-color: transparent;
                        border: 0.1rem solid white;
                        transition: all 400ms linear;
                    }
                }

                .btn-1 {
                    background-color: transparent;
                    border: 0.1rem solid white;
                    transition: all 400ms linear;

                    &:hover {
                        transition: all 400ms linear;
                        background: var(--primary-color, #23a6f0);
                        color: white;
                        border: none;
                    }
                }
            }
        }

        .container-box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 3rem;

            .box {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                padding: 3.5rem 4rem;
                gap: 1rem;
                background: white;

                h3 {
                    color: $background_primary;
                }

                p {
                    color: #737373;
                }
            }
            .__3 {
                background: $color_primary;

                h3,
                p {
                    color: white;
                }
            }
        }
    }
}
