@mixin list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

@mixin btn-home {
    padding: 1.5rem 3.6rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 3.7rem;

    &:active {
        transform: scale(1.04);
    }
}

@mixin btn-primary {
    padding: 1.5rem 4rem;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    background: $color-primary;
    transition: all 200ms;

    &:active {
        transform: scale(1.04);
        background: #16628e;
        transition: all 200ms;
    }
}

@mixin checked-green {
    display: flex;
    width: 3.2rem;
    height: 3.2rem;
    padding: 1rem 0.8rem 1.1rem 0.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 20rem;
    background: var(--success-color, #2dc071);
}
@mixin checked-grey {
    display: flex;
    width: 3.2rem;
    height: 3.2rem;
    padding: 1rem 0.8rem 1.1rem 0.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 20rem;
    background: var(--muted-color, #bdbdbd);
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text_menu {
    color: var(--light-text-color, #fff);
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    letter-spacing: 0rem;
}
