h1 {
    font-size: 5.8rem;
    font-family: Montserrat;
    font-weight: 800;
    line-height: 8rem;
    letter-spacing: 0rem;
}

h2 {
    font-size: 4rem;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 5.7rem;
    letter-spacing: 0rem;
}

h3 {
    font-size: 2.4rem;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0rem;
}

h4 {
    font-size: 2rem;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0rem;
}

h5 {
    font-size: 1.6rem;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0rem;
}

h6,
label {
    font-size: 1.4rem;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 2.4rem;
    letter-spacing: 0rem;
}

p {
    font-size: 1.4rem;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0rem;
}

button,
span {
    font-size: 1.4rem;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0rem;
}

a {
    font-size: 1.4rem;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 2.4rem;
    letter-spacing: 0rem;
}

input,
select {
    width: 100%;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    background: #f9f9f9;
    padding: 1.1rem 0;
    padding-left: 2.1rem;
}
