.testimonials {
    background: #8ec2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11.2rem 3rem;
    flex-direction: column;
    gap: 8rem;

    @media (max-width: 600px) {
        padding: 3rem 4.2rem;
    }

    .title {
        max-width: 60.7rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        text-align: center;

        p {
            max-width: 47rem;
        }
    }

    .boxes {
        display: grid;
        grid-template-columns: repeat(2, 45rem);
        gap: 13.7rem;
        margin: 4rem 0;

        @media (max-width: 1070px) {
            grid-template-columns: repeat(auto-fit, minmax(35rem, 45rem));
            gap: 3rem;
        }

        .box {
            padding: 3rem 4rem;
            background: white;
            position: relative;

            .container-perfil {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;

                .perfil {
                    position: absolute;
                    left: -45px;

                    @media (max-width: 600px) {
                        position: relative;
                        left: 0;
                    }
                }

                .box-title {
                    h3 {
                        color: $background_primary;
                    }

                    p,
                    h6 {
                        color: #737373;
                    }
                }
            }

            .stars {
                display: flex;
                align-items: center;
                margin: 1.5rem 0;
            }
        }
    }
}
