@import "partials/variables";
@import "partials/reset";
@import "partials/mixin";
@import "partials/patterns";
@import "partials/login";
@import "partials/home";
@import "partials/register";
@import "partials/menu";
