.home {
    background-image: url(../assets/background.png);
    height: 80rem;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1250px) {
        background-size: cover;
        height: auto;
    }

    .container {
        display: flex;
        align-items: flex-end;
        gap: 18rem;

        @media (max-width: 1250px) {
            padding: 3rem 1.5rem;
            align-items: center;
            justify-content: center;
            display: grid;
            grid-template-columns: repeat(auto-fit, 1fr);
            gap: 0;
        }

        .box-left {
            width: 100%;
            max-width: 78.2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .subtitle {
                margin-bottom: 2.4rem;
            }

            h1 {
                margin-bottom: 1.8rem;
            }

            p {
                font-weight: 500;
                font-size: 2.2rem;
                line-height: 140%;
                color: white;
                margin-bottom: 4rem;
            }
        }

        .price {
            display: flex;
            margin-bottom: 9.2rem;

            .valor {
                padding: 1.8rem 3.6rem;
                background-color: white;
                color: black;
                font-weight: 700;
                font-size: 2rem;
                line-height: 2.2rem;

                @media (max-width: 768px) {
                    padding: 0.9rem 1.8rem;
                    font-size: 1.4rem;
                }
            }

            .pre-venda {
                padding: 1.8rem 3.6rem;
                background-color: #3265ea;
                color: white;
                font-weight: 700;
                font-size: 2rem;
                line-height: 2.2rem;

                @media (max-width: 768px) {
                    padding: 0.9rem 1.8rem;
                    font-size: 1.4rem;
                }
            }
        }
        .box-right {
            width: 100%;
            max-width: 46.3rem;
            p {
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 2rem;
                color: #ffffff;
                margin-bottom: 2.4rem;
            }

            .video-gif {
                position: relative;
                width: 100%;

                .gif {
                    width: 44rem;
                    height: 24.7rem;
                    background: #000000;
                    border: 4px solid #3265ea;
                    box-shadow: 0px 22.8941px 34.3411px -11.447px rgba(8, 8, 11, 0.8);

                    @media (max-width: 768px) {
                        width: 100%;
                        max-width: 35rem;
                        margin: 0;
                        
                    }
                }

                .play {
                    position: absolute;
                    left: 3.2rem;
                    bottom: 2.5rem;
                    cursor: pointer;
                }
            }

            .faixa_etaria {
                width: 33.6rem;
                display: flex;
                gap: 1.5rem;
                align-items: center;
                margin-top: 5.2rem;

                span {
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 1.7rem;
                    color: #ffffff;
                }
            }
        }
    }
}
