.subtitle {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    span {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }
}

h1 {
    font-weight: 700;
    font-size: 12.4rem;
    line-height: 97.5%;
    font-stretch: 110;

    @media (max-width: 600px) {
        font-size: 6rem;
        text-align: center;
    }
}

h2 {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 130%;
    font-stretch: 110;

    @media (max-width: 600px) {
        font-size: 3rem;
        text-align: center;
    }
}

p {
    font-weight: 400;
    font-size: 2rem;
    line-height: 160%;
    color: #bdc2cb;

    @media (max-width: 600px) {
        font-size: 1.5rem;
        text-align: center;
    }
}

.card-character {
    width: 100%;
    max-width: 38.4rem;

    @media (max-width: 768px) {
        width: 13.5rem;
    }

    .image {
        width: 100%;
        margin-bottom: 2.4rem;
        position: relative;
        display: flex;
        justify-content: center;
        overflow: hidden;

        &:hover {
            filter: blur(0);
        }

        img {
            transition: all 500ms ease-out;
            filter: brightness(0.7);
        }

        &:hover img {
            transform: scale(1.1);
            transition: all 500ms ease-in;
            filter: brightness(1);
        }

        &:hover button {
            transition: all 300ms ease-in;

            opacity: 1;
        }
    }

    button {
        bottom: 5.7rem;
        position: absolute;
        padding: 1.8rem 3.6rem;
        background: #3265ea;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2rem;
        color: white;
        opacity: 0;
        transition: all 300ms ease-out;

        @media (max-width: 768px) {
            font-size: 1rem;
            padding: 0.7rem 1.4rem;
            bottom: 2.8rem;
            left: 1rem;
        }
    }

    .description {
        h3 {
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2rem;
            margin-bottom: 0.7rem;
        }

        span {
            font-weight: 400;
            font-size: 14px;
            line-height: 15px;
        }
    }
}
