* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Archivo', sans-serif;
}

html {
    font-size: 62.5%;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    background-color: #000201;
    color: white;
}
