* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  touch-action: pan-y;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  max-width: 12.1rem;
  height: 3.5rem;
  background-color: rgb(255, 130, 51);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  color: white;
  font-weight: 700;
}
button:active {
  transform: scale(1.05);
}

img {
  width: 9rem;
  display: block;
  max-width: 100%;
}

input {
  outline: none;
}

.back {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 3.5rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  flex-direction: column;
  position: relative;
}
.home .container {
  width: 400px;
  max-width: 400px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}
.home .container h2 {
  font-size: 1.8rem;
  text-align: center;
}
.home .container h2.negative {
  color: red;
  border: 1px solid red;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.home .container .inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.home .container .inputContainer .inputBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}
.home .container .inputContainer .inputBox input {
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(179, 179, 179);
  padding-left: 1rem;
}
.home .container .inputContainer .inputBox input:focus {
  border: 2px solid rgb(255, 130, 51);
}
.home .container .inputContainer .inputBox label {
  font-size: 1.4rem;
  transition: top 0.3s;
  font-weight: 600;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 4rem;
}
.front .container {
  width: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
.front .container img {
  width: 15rem;
}
.front .container .card {
  width: 100%;
  background-color: rgb(255, 130, 51);
  padding: 2rem;
  display: flex;
  border-radius: 16px;
  background: #ff8233;
}
.front .container .card a {
  /* Adapte as cores conforme a identidade visual do seu projeto */
  display: block;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  color: black;
}
.front .container .card a .container {
  text-align: center;
  padding: 20px;
}
.front .container .card a .inputContainer {
  margin-bottom: 20px;
}
.front .container .card a .inputBox {
  margin-bottom: 10px;
}
.front .container .card a button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.front .container .card a button:hover {
  background-color: #45a049;
}
.front .container .card a h2 {
  font-size: 18px;
  color: #333;
}

.tabelaBatata {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  padding: 1rem;
}
.tabelaBatata .title h2 {
  font-size: 3rem;
}
@media (max-width: 768px) {
  .tabelaBatata .title h2 {
    font-size: 2.6rem;
  }
}
.tabelaBatata .lista {
  padding: 2rem;
  border-radius: 3rem;
  border: 0.1rem solid black;
  max-width: 80rem;
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  .tabelaBatata .lista {
    font-size: 1.2rem;
    padding: 1rem;
  }
}
.tabelaBatata .lista table th,
.tabelaBatata .lista table td {
  text-align: center;
  padding: 0.5rem;
  border-bottom: 0.1rem solid black;
}
.tabelaBatata .button button {
  padding: 1rem;
}
.tabelaBatata h3 {
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  .tabelaBatata h3 {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=main.css.map */